'''

Imagina que trabajas para una empresa de comercio electrónico y te han proporcionado un conjunto 
de datos en forma de diccionario que contiene información sobre las transacciones de los clientes. 
Quieren que realices un análisis básico para comprender mejor el comportamiento de compra de los clientes.

Problema: Utiliza Pandas para responder a las siguientes preguntas sobre las transacciones:

- ¿Cuántas transacciones hay en total?  --> Hay en total 10 transacciones

- ¿Cuál es el monto total de todas las transacciones? --> El monto total de las transacciones es 1670

- ¿Cuántos clientes únicos han realizado transacciones? --> 6 Clientes unicos han realizado transacciones 


'''

In [30]:
import pandas as pd
import numpy as np

In [31]:
transacciones = [
    {"cliente": "Cliente1", "monto": 100, "fecha": "2024-03-01"},
    {"cliente": "Cliente2", "monto": 150, "fecha": "2024-03-02"},
    {"cliente": "Cliente3", "monto": 200, "fecha": "2024-03-03"},
    {"cliente": "Cliente1", "monto": 120, "fecha": "2024-03-04"},
    {"cliente": "Cliente4", "monto": 80, "fecha": "2024-03-05"},
    {"cliente": "Cliente2", "monto": 90, "fecha": "2024-03-06"},
    {"cliente": "Cliente5", "monto": 300, "fecha": "2024-03-07"},
    {"cliente": "Cliente3", "monto": 250, "fecha": "2024-03-08"},
    {"cliente": "Cliente1", "monto": 180, "fecha": "2024-03-09"},
    {"cliente": "Cliente6", "monto": 200, "fecha": "2024-03-10"}
]

In [32]:
df_transacciones = pd.DataFrame(transacciones)

df_transacciones

    cliente  monto       fecha
0  Cliente1    100  2024-03-01
1  Cliente2    150  2024-03-02
2  Cliente3    200  2024-03-03
3  Cliente1    120  2024-03-04
4  Cliente4     80  2024-03-05
5  Cliente2     90  2024-03-06
6  Cliente5    300  2024-03-07
7  Cliente3    250  2024-03-08
8  Cliente1    180  2024-03-09
9  Cliente6    200  2024-03-10

In [40]:
# Monto de las trasacciones

df_transacciones['monto'].describe()
len_df_transacciones = len(df_transacciones['monto'])
len_df_transacciones

10

In [29]:
# Monto total transacciones

suma = sum(df_transacciones['monto'])
suma

1670

In [36]:
# Clientes Unicos que realizaron transacciones

conjunto_transaccion = set(df_transacciones['cliente'])
conjunto_transaccion

{'Cliente1', 'Cliente2', 'Cliente3', 'Cliente4', 'Cliente5', 'Cliente6'}